{% extends "base.html" %}

{% block title %}cart{% endblock %}

{% block content %}

{% load static %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="cart">
                <h3 class="text-center pt-3">Order List</h3>
                <ul id="mealcart"></ul>
                <h4 class="text-right mt-5 pr-5" id="mealtotal" id="deserttotal">Total: £ 0 </h4>
                <ul id="desertcart"></ul>
                <div class="complete-order">
                    <button type="submit" class="submit btn-info rounded mt-3 pb-1">Complete Order</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>


    <script src="{% static 'js/cart.js' %}"></script>

    <!-- Footer section -->

    <footer>
        <div class="footer">
            <p class="copyright">
                &copy; Copyright SPUR-<b>TECH</b>Web Designs @ 2021
            </p>
        </div>
    </footer>

    {% endblock %}