{% extends "account/base.html" %}

{% block title %}cart{% endblock %}

{% block content %}

{% load static %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 cart-slate-background text-center">
            <div class="cart">
                <h1 class="text-center pt-3 order-list">Order List</h1>
                <ul id="mealcart"></ul>
                <h2 class="text-center mt-5" id="mealtotal" id="deserttotal">Total: £ 0 </h2>
                <ul id="desertcart"></ul>
                {% if user.is_authenticated %}
                <div class="complete-order">
                    <a href="{% url 'success_view' %}">
                        <button type="submit" class="submit btn-info mt-3 pb-1" onclick="order()">Complete
                            Order</button></a>
                </div>
                {% else %}
                <div>
                    <a href="{% url 'account_login' %}"><button type="submit" class="btn-info mt-3 pb-1">Log
                            in</button></a>
                </div>
                <h3>or</h3>
                <div>
                    <a href="{% url 'account_signup' %}"><button type="submit" class="btn-info mt-3 pb-1">Sign
                            up</button></a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>


    <script src="{% static 'js/cart.js' %}"></script>

    <!-- Footer section -->

    <footer>
        <div class="footer">
            <p class="copyright">
                &copy; Copyright SPUR-<b>TECH</b>Web Designs @ 2021
            </p>
        </div>
    </footer>

    {% endblock %}