{% extends "account/base.html" %}

{% load crispy_forms_tags %}

{% block title %}Meal comment form{% endblock %}

{% block content %}

{% load static %}

<div class="container comment-area col-md-12">
    <div class=" row">
        <div class="col-md-3"></div>

        <span class="comment-title">
            <h3>Please leave your comment here</h3>
        </span>
        <div class="col-md-4"></div>

        <div class="col-md-12">
            <div class="col-md-4"></div>
            <form method="post" placeholder="Type Comment:">
                {% csrf_token %}
                {{ form.body }}
                <input class="save-button" type="submit" value="Save">
            </form>
        </div>
    </div>
</div>

<!-- Footer section -->

<footer>
    <div class="footer">
        <p class="copyright">
            &copy; Copyright SPUR-<b>TECH </b> Web Designs @ 2021
        </p>
    </div>
</footer>

<script src="{% static 'js/meal.js' %}"></script>

{% endblock %}