{% extends "account/base.html" %}

{% load i18n %}

{% load static %}

{% block title %}Delete{% endblock %}

{% block content %}

<div class="container-fluid mt-5 p-5">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="delete col-md-4 p-4 bg-dark text-light text-center">
            <h3 class="delete-title">Delete Comment</h3>

            <p>Are you sure you want to Delete comment?</p>

            <form method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn-danger pb-1">Delete</button>
                <a href="{% url 'meal_view' %}" class="btn-secondary p-1 pb-2">Cancel</a>
            </form>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>

<!-- Footer section -->

<footer>
    <div class="footer">
        <p class="copyright">
            &copy; Copyright SPUR-<b>TECH</b>Web Designs @ 2021
        </p>
    </div>
</footer>

{% endblock %}