{% extends "base.html" %}

{% block title %}Deserts{% endblock %}

{% block content %}

{% load static %}


<div id="overlay-desert"></div>
<div class="container-fluid">
    <div class="slate-desert-background"></div>

    <div class="row text-center">
        <div class="col-md-8">

            <h6 class="title">Thai Deserts</h6>
            <h4 class="title2">Menu</h4>
            <div class="row">
                {% for desert in desert_objects %}
                <div class="col-md-6">
                    <h5 class="item-title" id="desertname{{ desert.id }}">{{ desert.title }}</h5>

                    ﻿<img class="desert-images" src="{{ desert.featured_image.url }}" alt="">

                    <h5 class="item-description">{{ desert.description }}</h5>

                    <div class="form-check-inline color-info ">
                        <label class=" form-check-label">
                            <input class="form-check-input" type="radio" name="desert{{ desert.id }}"
                                value="{{ desert.price_Medium }}" checked>
                            <p class="price">( M ) £{{ desert.price_Medium }}</p>
                        </label>
                    </div>

                    <div class="form-check-inline">
                        <label class=" form-check-label">
                            <input class="form-check-input" type="radio" name="desert{{ desert.id }}"
                                value="{{ desert.price_Large }}">
                            <p class="price">( L ) £{{ desert.price_Large }}</p>
                        </label>
                    </div>
                    <div>
                        <button class="btn-info mt-3" onclick="addDesert('{{ desert.id }}')">Add To Cart</button>
                    </div>

                </div>

                {% endfor %}

            </div>
        </div>
        <div class=" col-md-4 orders">
            <h3 class="text-center pt-3">Order List</h3>
            <ul id="desertcart"></ul>
            <h4 class="text-right pr-5" id="deserttotal">Total:£ 0 </h4>

        </div>
    </div>
</div>
<!-- Footer section -->

<footer>
    <div class="footer">
        <p class="copyright">
            &copy; Copyright SPUR-<b>TECH</b>Web Designs @ 2021
        </p>
    </div>
</footer>

<script src="{% static 'js/desert.js' %}"></script>

{% endblock %}