{% extends "account/base.html" %}

{% block title %}Desserts{% endblock %}

{% block content %}

{% load static %}


<div id="overlay-dessert"></div>
<div class="container-fluid">
    <div class="dessert-menu-background"></div>

    <div class="row text-center">
        <div class="col-md-8">
            <div class="black-background">
                <h1 class="title">Thai Desserts</h1>
                <h2 class="title2">Menu</h2>
            </div>
            <div class="row">
                {% for dessert in dessert_objects %}
                <div class="col-md-6">
                    <h3 class="item-title" id="dessertname{{ dessert.id }}">{{ dessert.title }}</h3>

                    ﻿<img class="dessert-images" src="{{ dessert.featured_image.url }}" alt="">

                    <h4 class="item-description">{{ dessert.description }}</h4>
                    <fieldset>
                        <legend></legend>
                        <div class="form-check-inline color-info ">
                            <label class=" form-check-label">
                                <input class="form-check-input" type="radio" name="dessert{{ dessert.id }}"
                                    value="{{ dessert.price_Medium }}" checked>
                                <p class="price">( M ) £{{ dessert.price_Medium }}</p>
                            </label>
                        </div>

                        <div class="form-check-inline">
                            <label class=" form-check-label">
                                <input class="form-check-input" type="radio" name="dessert{{ dessert.id }}"
                                    value="{{ dessert.price_Large }}">
                                <p class="price">( L ) £{{ dessert.price_Large }}</p>
                            </label>
                        </div>
                    </fieldset>
                    <div>
                        <button class="btn-info mt-3" onclick="addDessert('{{ dessert.id }}')">Add To Cart</button>
                    </div>

                </div>

                {% endfor %}

            </div>
        </div>
        <div class="col-md-4 orders">
            <div>
                <h3 class="text-center pt-3">Order List</h3>
                <ul id="dessertcart"></ul>
                <h4 class="text-center mt-5" id="desserttotal">Total: £ 0 </h4>
            </div>
            {% if user.is_authenticated %}
            <div class="complete-order">
                <a href="{% url 'cart_view' %}">
                    <button type="submit" class="submit btn-info mt-3 pb-1" onclick="order()">Complete
                        Order</button></a>
            </div>
            {% else %}
            <div>
                <a href="{% url 'account_login' %}"><button type="submit" class="btn-info mt-3 pb-1">Log in</button></a>
            </div>
            <h3>or</h3>
            <div>
                <a href="{% url 'account_signup' %}"><button type="submit" class="btn-info mt-3 pb-1">Sign
                        up</button></a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- Footer section -->

<footer>
    <div class="footer">
        <p class="copyright">
            &copy; Copyright SPUR-<b>TECH</b>Web Designs @ 2021
        </p>
    </div>
</footer>

<script src="{% static 'js/dessert.js' %}"></script>

{% endblock %}