{% extends "account/base.html" %}

{% load crispy_forms_tags %}

{% block title %}Dessert comment form{% endblock %}

{% block content %}

{% load static %}

<div class="container-fluid comment-area">
    <div class=" row">
        <div class="ml-4"></div>

        <span class="comment-title">
            <h3>Please leave your comment here</h3>
        </span>

        <div class="col-md-12">

            <form method="post">
                {% csrf_token %}

                {{ form.body }}
                <input type="hidden" name="dessert_comment_writer" value="{{ request.user.id }}"
                    id="dessert_comment_writer">
                <input class="save-button" type="submit" value="Save">
            </form>

        </div>
    </div>
</div>

<!-- Footer section -->

<footer>
    <div class="footer">
        <p class="copyright">
            &copy; Copyright SPUR-<b>TECH </b> Web Designs @ 2021
        </p>
    </div>
</footer>


{% endblock %}