{% extends "account/base.html" %}

{% block title %}Urai's Thai Kitchen{% endblock %}

{% block content %}

{% load static %}

<div class="container"></div>
<div class="color-overlay"></div>

<div class="row"></div>

<div class="home-page">
    <div class="home-black-background">
        <div class="red-circle-home">
            <h1>Urai's Thai Kitchen</h1>
            <h2>Authentic Thai Cuisine</h2>
        </div>
    </div>
    <div class="call-background">
        <h3 class="call">Call :</h3>
        <h4 class="phone">0745683920 <br>
            Opening hours<br>
            between 10am - 10pm</h4>
    </div>
    <div class="slate-container">
        <div class="home-slate-background">
            <h3>How to order</h3>
            <h4>Thai food</h4>
            <p class='instruction-blue'>
                <br> - To make an order: <br>
                <br> - Click on Meal or Dessert in the top bar: <br>
                <br> - If your using a mobile click three lines on right: <br>
                <br> - Place your order by selecting Meal or <br> Dessert size button then add to cart: <br>
                <br> - Check your order is correct in the cart: <br>
                <br> - Log in with your details: <br>
                <br> - Then proceed to complete order: <br>
                <br> - Max order 18 items</p>
            <br>

            <div class="enjoy">
                <h3>Enjoy!</h3>
            </div>
        </div>

    </div>

</div>
<!-- Footer section -->

<footer>
    <div class="footer">
        <p class="copyright">
            &copy; Copyright SPUR-<b>TECH </b> Web Designs @ 2021
        </p>
    </div>
</footer>


{% endblock %}