{% extends "base.html" %}

{% block content %}

<div class="container"></div>
<div class="color-overlay"></div>
<img class="home-background" src="static/images/uris-kitchen-home.jpg" class="img-responsive" alt="thai food image">


<div class="row"></div>

<div class="home-page">

    <h1>Uri's Thai Kitchen</h1>
    <h2>Authentic Thai Cuisine</h2>



    <div class="slate-container">

        <h3>Menu</h3>
        <h4>Thai food</h4>

        <img class="slate-background" src="static/images/slate-background.jpg" class="img-responsive" alt="slate image">

    </div>

</div>


{% endblock %}