{% extends "base.html" %}

{% block title %}Urai's Thai Kitchen{% endblock %}

{% block content %}

{% load static %}

<div class="container"></div>
<div class="color-overlay"></div>

<div class="row"></div>

<div class="home-page">

    <h1>Urai's Thai Kitchen</h1>
    <h2>Authentic Thai Cuisine</h2>

    <div class="slate-container">
        <h3>How to order</h3>
        <h4>Thai food</h4>

        <div class="slate-background">
            <p class='instruction-blue'>
                To make an order click the relevant link in the navbar:
                <br>Log in with your details:
                <br>Place your order by selecting meal or desert size:
                <br>Check order is correct in shopping cart:
                <br>Then proceed to checkout</p>
            <br>

            <div class="instruction-red">
                <p>ENJOY!</p>
            </div>
        </div>

    </div>

</div>
<!-- Footer section -->

<footer>
    <div class="footer">
        <p class="copyright">
            &copy; Copyright SPUR-<b>TECH</b>Web Designs @ 2021
        </p>
    </div>
</footer>


{% endblock %}