{% extends "base.html" %}

{% block content %}

<div class="container"></div>
<div class="color-overlay"></div>

<img class="meal-background" src="static/images/meal-background.jpg" class="img-responsive"
    alt="Meal page thai food image">

<div class="container-fluid">
    <img class="slate-meal-background" src="static/images/slate-background.jpg" class="img-responsive"
        alt="Slate image">

    <h6 class="title">Thai Meals</h6>
    <p class="title2">Menu</p>
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                {% for meal in meal_objects %}
                <div class="col-md-6">

                    <h5>Meal name: {{ meal.title }}, <br>
                        Description: {{ meal.description }}, <br>
                        Price
                        Medium:
                        £{{ meal.price_Medium }}, <br>
                        Price Medium: £{{ meal.price_Large }}</h5>
                </div>

                {% endfor %}

            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>


{% endblock %}