{% extends "base.html" %}

{% block title %}Meals{% endblock %}

{% block content %}

{% load static %}


<div id="overlay-meal"></div>
<div class="container-fluid">
    <div class="slate-meal-background"></div>

    <div class="row text-center">
        <div class="col-md-8 text-center">

            <h6 class="title">Thai Meals</h6>
            <h4 class="title2">Menu</h4>
            <div class="row">
                {% for meal in meal_objects %}
                <div class="col-md-6">
                    <h5 class="item-title pb-3" id="meal-name{{ meal.id }}">{{ meal.title }}</h5>

                    ﻿<img class="meal-images" src="{{ meal.featured_image.url }}" alt="">

                    <h5 class="item-description">{{ meal.description }}</h5>

                    <div class="form-check-inline color-info ">
                        <label class=" form-check-label">
                            <input class="form-check-input" type="radio" name="meal{{ meal.id }}"
                                value="{{ meal.price_Medium }}" checked>
                            <p class="price">( M ) £{{ meal.price_Medium }}</p>
                        </label>
                    </div>

                    <div class="form-check-inline">
                        <label class=" form-check-label">
                            <input class="form-check-input" type="radio" name="meal{{ meal.id }}"
                                value="{{ meal.price_Large }}">
                            <p class="price">( L ) £{{ meal.price_Large }}</p>
                        </label>
                    </div>
                    <div>
                        <button class="btn-info mt-3">Add To Cart</button>
                    </div>

                </div>

                {% endfor %}

            </div>
        </div>
        <div class="col-md-4 order">
            <h3 class="text-center pt-3">Order List</h3>
            <ul></ul>
            <h4 class="text-right pr-5">Total:£ 0 </h4>

        </div>
    </div>
</div>
<!-- Footer section -->

<footer>
    <div class="footer">
        <p class="copyright">
            &copy; Copyright SPUR-<b>TECH</b>Web Designs @ 2021
        </p>
    </div>
</footer>

{% endblock %}