{% extends "account/base.html" %}

{% load crispy_forms_tags %}

{% block title %}Meals{% endblock %}

{% block content %}

{% load static %}


<div class="container-fluid">
    <div class="black-background">
        <div class="red-circle-meal">
            <h1 class="title">Thai Meals</h1>
            <h2 class="title2">Menu</h2>
        </div>
    </div>
    <div class="row text-center">

        <div class="col-md-7 text-center meal-menu-background">

            <div class="row">
                {% for meal in meal_objects %}
                <div class="col-md-6">
                    <h3 class="item-title pb-3" id="mealname{{ meal.id }}">{{ meal.title }}</h3>

                    ﻿<img class="meal-images" src="{{ meal.featured_image.url }}" alt="">

                    <h4 class="item-description">{{ meal.description }}</h4>
                    <fieldset>
                        <legend></legend>
                        <div class="form-check-inline color-info ">
                            <label class=" form-check-label">
                                <input class="form-check-input" type="radio" name="meal{{ meal.id }}"
                                    value="{{ meal.price_Medium }}" checked>
                                <p class="price">( M ) £{{ meal.price_Medium }}</p>
                            </label>
                        </div>

                        <div class="form-check-inline">
                            <label class=" form-check-label">
                                <input class="form-check-input" type="radio" name="meal{{ meal.id }}"
                                    value="{{ meal.price_Large }}">
                                <p class="price">( L ) £{{ meal.price_Large }}</p>
                            </label>
                        </div>

                        <div class="meal-likes "> <i class="far fa-heart"></i>
                            {{ meal.number_of_likes }}
                        </div>
                        <div class="meal-comments"> <i class="far fa-comment"></i>
                            {{ meal.number_of_comments }}
                        </div>
                        <div>
                            <button class="btn-info pb-1 mt-3" onclick="addMeal('{{ meal.id }}')">Add To
                                Cart</button>
                        </div>
                    </fieldset>
                </div>

                {% endfor %}

            </div>
        </div>
        <div class="col-md-4 meal-orders">
            <div class="meal-slate-cart">
                <h3 class="text-center order-list pt-3">Order List</h3>
                <ul id="mealcart"></ul>
                <h4 class="text-center mt-5" id="mealtotal">Total: £ 0 </h4>

                {% if user.is_authenticated %}
                <div class="complete-order">
                    <a href="{% url 'cart_view' %}">
                        <button type="submit" class="submit btn-info mt-3 pb-1" onclick="order()">Go to
                            Cart</button></a>
                </div>
                {% else %}
                <div class="row sign-buttons">
                    <a href="{% url 'account_login' %}"><button type="submit" class="btn-info mr-4 mt-3">Log
                            in</button></a>
                    <h3>or</h3>
                    <a href="{% url 'account_signup' %}"><button type="submit" class="btn-info ml-4 mt-3">Sign
                            up</button></a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- Footer section -->

<footer>
    <div class="footer">
        <p class="copyright">
            &copy; Copyright SPUR-<b>TECH </b> Web Designs @ 2021
        </p>
    </div>
</footer>

<script src="{% static 'js/meal.js' %}"></script>

{% endblock %}