{% extends "account/base.html" %}

{% load static %}

{% block title %}Meal Details{% endblock %}

{% block content %}
<div container>
    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6 meal-details-background text-center">

            <h3 class="item-title pb-3" id="mealname{{ meal.id }}">{{ meal.title }}</h3>

            ﻿<img class="meal-images" src="{{ meal.featured_image.url }}" alt="">

            <h4 class="item-description">{{ meal.description }}</h4>
            <div class="comment">
                <a href="{% url 'comment_create' meal.pk %} ">Comment :</a>

                {% if comments %}
                {% for comment in comments %}

                <p> - {{ comment.body }} - </p>

                <div class="meal-edit-delete">
                    {% if request.user == comment.comment_writer %}
                    <a href="{% url 'comment_update' comment.pk meal.pk %} ">Edit</a>
                    <a href="{% url 'comment_delete' comment.pk meal.pk %} ">Delete</a>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="col-md-3"></div>

<footer>
    <div class="footer">
        <p class="copyright">
            &copy; Copyright SPUR-<b>TECH </b> Web Designs @ 2021
        </p>
    </div>
</footer>

{% endblock %}