{% extends "base.html" %}

{% block title %}Order{% endblock %}

{% load static %}

{% block content %}

<div class="container-fluid m-4">
    <div class="row">
        <div class="col-md-8 slate-order-background text-center">
            <div class="row">
                <div class="orderitems col-md-12">
                    <h1>Order</h1>
                    <div class="col-md-6" id="name">
                        <h2>Name</h2>
                    </div>
                    <div class="col-md-6" id="size">
                        <h2>Size</h2>
                    </div>
                    <div class="col-md-6" id="price">
                        <h2>Price</h2>
                    </div>
                    <div class="col-md-1" id="rm">
                    </div>
                </div>
                <h3 id="total">Total</h3>
                <div>
                    <button type="submit" class="btn-success">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/cart.js' %}"></script>

{% endblock %}