{% extends "account/base.html" %}

{% block title %}Success{% endblock %}

{% block content %}

{% load static %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-8 cart-slate-background text-center">

            <div class="cart">
                <h1 class="success-title">Your order has been successful</h1>
                <h2 class="success-title2">Average delivery time: 45mins</h2>
                <h3 class="text-center pt-3">Order List</h3>
                <ul id="mealcart"></ul>
                <div class="loader">
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
                <h4 class="text-center mt-5" id="mealtotal" id="deserttotal">Total: £ 0 </h4>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>


    <script src="{% static 'js/cart.js' %}"></script>

    <!-- Footer section -->

    <footer>
        <div class="footer">
            <p class="copyright">
                &copy; Copyright SPUR-<b>TECH</b>Web Designs @ 2021
            </p>
        </div>
    </footer>

    {% endblock %}