{% extends "account/base.html" %}

{% block title %}Success{% endblock %}

{% block content %}

{% load static %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md 4"></div>
        <div class="success-email col-md-4 text-center">Your order confirmation has been sent</div>
        <div class="col-md 4"></div>
    </div>

    <div class="row">

        <div class="col-md-2"></div>

        <div class="col-md-8 cart-slate-background text-center">

            <div class="success-cart">
                <h1 class="success-title">Your order has been successful</h1>
                <h2 class="success-title2">Average delivery time: 45mins</h2>
                <div class="loader">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <h3 class="text-center pt-3">Order List</h3>

                <ul id="successcart">{{ order }}</ul>


                <h4 class="text-center mt-5" id="successtotal">Total: £ 0 </h4>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

<script src="{% static 'js/success.js' %}"></script>

<script>
    document.querySelector('#cart').innerHTML = '0';
</script>

<!-- Footer section -->

<footer>
    <div class="footer">
        <p class="copyright">
            &copy; Copyright SPUR-<b>TECH </b> Web Designs @ 2021
        </p>
    </div>
</footer>

{% endblock %}