{% extends "account/base.html" %}

{% load static %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="container-fluid mt-5 p-5">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 p-4 bg-dark text-light text-center">
      <h1 class="signup-title">Login</h1>
      <form method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
          <div>
            {{ field.label_tag }}
          </div>
          <div>
            {{ field }}
          </div>
        </div>
        {%  endfor %}

        <div class="error-message">
          {% if form.errors %}

          {% for k, v in form.errors.items %}
          <div>
            <small style="color: rgb(0, 225, 255);">{{ v }}</small>
          </div>
          {% endfor %}

          {% endif %}
        </div>
        <div class="login-buttons">
          <a class="btn-info pb-1 mr-2" href="{% url 'account_signup' %}">Log in</a>
          <h3>or</h3>
          <a href="{% url 'account_signup' %}" class="btn-info ml-2">Sign
            up</a>
        </div>
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

<!-- Footer section -->

<footer>
  <div class="footer">
    <p class="copyright">
      &copy; Copyright SPUR-<b>TECH</b>Web Designs @ 2021
    </p>
  </div>
</footer>

{% endblock %}