{% extends "account/base.html" %}

{% load static %}

{% block title %}Sign Up{% endblock %}

{% block content %}

<div class="container-fluid mt-5 p-5">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="signup col-md-6 p-4 bg-dark text-light text-center">
      <h1 class="signup-title">Sign Up</h1>
      <form method="POST">
        {% csrf_token %}

        {% for field in form %}

        <div class="form-group">
          <div>
            {{ field.label_tag }}
          </div>
          <div>
            {{ field }}
          </div>
        </div>
        {%  endfor %}
        <div>
          {% if form.errors %}
          {% for field in form %}
          {% for error in field.errors %}
          <div>
            <small style="color: rgb(0, 225, 255);">{{ error }}</small>
          </div>
          {% endfor %}
          {% endfor %}
          {% endif %}
          <div class="field">
            <p>Card Details</p>

            <input type="text" placeholder="Bank Name" aria-label="Bank Name" name="Bank Name" required> <br>
            <input type="text" placeholder="Name on card" aria-label="Name on card" name="Name-on-card" required> <br>
            <input type="text" placeholder="Long card number" aria-label="Card number" name="card-number" required><br>
            <input type="text" placeholder="Expiry date" aria-label="Expiry date" name="Expiry-date" required><br>
            <input type="text" placeholder="CVV" aria-label="Security number" name="Security-number" required>
          </div>
          <br>
          <div class="field">
            <p>Delivery Address
            </p>
            <textarea name="Delivery Address" placeholder="Delivery Address" aria-label="address area"
              id="delvery-address" required cols="30" rows="10"></textarea>
          </div>
          <button type="submit" class="btn-info pb-1 mt-3 mb-2">SignUp</button>
          <h3>or</h3>
          <button type="submit" class="btn-info pb-1 mb-2">Log in</button>

      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

<!-- Footer section -->

<footer>
  <div class="footer">
    <p class="copyright">
      &copy; Copyright SPUR-<b>TECH</b>Web Designs @ 2021
    </p>
  </div>
</footer>

{% endblock %}