/* Delete page css */

.delete {
    margin-top: 30px;
}

.delete-title {
    position: relative;
    font-family: 'Beau Rivage', cursive;
    font-size: 50px;
    color: rgb(228, 3, 3);
    background: linear-gradient(rgb(138, 138, 138), rgba(0, 0, 0));
    top: -10px;
    margin-bottom: 0px;
}

.footer {
    margin-bottom: 0px;
}

@media all and (max-width: 1000px) {

    .delete-title {
        font-size: 35px;
    }
}

@media all and (max-width: 400px) {

    .delete-title {
        font-size: 30px;
    }
}