/* Dessert page css*/

.black-background-dessert {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 130px;
    width: 500px;
    border-radius: 50%;
    margin-bottom: 50px;
}

.red-circle-dessert {
    height: 120px;
    width: 490px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(228, 3, 3);
    border-radius: 50%;
}

.dessert-title {
    margin-left: 80px;
    padding-top: 0px;
    margin-top: 10px;
    font-family: 'Beau Rivage', cursive;
    font-size: 5rem;
    font-weight: 500;
    color: rgb(228, 3, 3);
}

.dessert-title2 {
    text-align: center;
    font-family: 'Beau Rivage', cursive;
    font-weight: 500;
    color: rgb(1, 207, 207);
    font-size: 3rem;
    margin-top: -50px;
    margin-left: 140px;
}

.dessert-orders {
    position: relative;
    top: 200px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://res.cloudinary.com/dnczeth0j/image/upload/v1651081192/static/images/slate-background_nfxmpb.jpg");
    background-repeat: no-repeat;
    height: 75rem;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    padding: 0px;
    right: 20px;
}

.dessert-menu-background {
    background: linear-gradient(rgba(51, 51, 51, 0.9), rgba(0, 0, 0, 0.9));
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
    margin-bottom: 100px;
    width: 50%;
    padding-bottom: 100px;
}

.dessert-orders {
    top: 50px;
    margin-left: 40px;
}

.item-title {
    font-size: 3.5rem;
    padding-left: 20px;
    padding-right: 20px;
}

.dessert-images {
    width: 200px;
    height: 150px;
    border-radius: 50%;
}

#dessertcart {
    position: relative;
    text-align: left;
    font-family: 'Beau Rivage', cursive;
    color: rgb(1, 207, 207);
    font-size: 1.5rem;
    line-height: 40px;
    background: linear-gradient(rgba(51, 51, 51, 0.7), rgba(0, 0, 0, 0.7));
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(228, 3, 3);
    margin-left: 10px;
    margin-right: 10px;
}

#desserttotal {
    text-align: left;
    font-family: 'Beau Rivage', cursive;
    color: rgb(1, 207, 207);
    font-size: 2rem;
}

.likes {
    color: rgb(228, 3, 3);
    font-size: 20px;
}

@media all and (max-width: 1500px) {

    .dessert-orders {
        margin-left: 0px;
        margin-right: 0px;
    }

    .item-title {
        font-size: 3rem;
    }

    .dessert-orders {
        margin-right: 0px;
    }

    #dessertcart {
        padding-left: 10px;
    }

    li {
        font-size: 16px;
    }
}

@media all and (max-width: 1000px) {

    .dessert-menu-background {
        margin-left: 10px;
    }

    .item-title {
        font-size: 2.5rem;
    }

    .dessert-images {
        width: 150px;
        height: 100px;
    }

    .item-description {
        margin-top: 0px;
    }

    .dessert-orders {
        margin-right: 0px;
    }

    #dessertcart {
        padding-left: 10px;
        padding-right: 10px;
    }

    li {
        font-size: 14px;
    }
}

@media all and (max-width: 850px) {

    .black-background-dessert {
        height: 120px;
        width: 400px;
    }

    .red-circle-dessert {
        height: 110px;
        width: 390px;
    }

    .dessert-title {
        margin-left: 50px;
        margin-top: 10px;
        font-size: 3.8rem;
    }

    .dessert-title2 {
        font-size: 2.8rem;
        margin-top: -40px;
        margin-left: 140px;
    }

    .dessert-menu-background {
        margin-right: 30px;
    }

    .dessert-orders {
        right: 0px;
    }

    #dessertcart {
        padding-left: 10px;
        padding-right: 10px;
    }

    li {
        font-size: 14px;
    }
}

@media all and (max-width: 766px) {

    .black-background-dessert {
        height: 110px;
        width: 360px;
    }

    .red-circle-dessert {
        height: 100px;
        width: 350px;
    }

    .dessert-title {
        font-size: 3rem;
    }

    .dessert-title2 {
        font-size: 2rem;
        margin-top: -30px;
    }

    .dessert-menu-background {
        width: 100%;
        margin-right: 10px;
    }

    #dessertcart {
        padding-left: 30px;
    }

    li {
        font-size: 18px;
    }

    .dessert-orders {
        right: 0px;
    }
}

@media all and (max-width: 580px) {

    .black-background-dessert {
        height: 100px;
        width: 300px;
    }

    .red-circle-dessert {
        height: 90px;
        width: 290px;
    }

    .dessert-title {
        font-size: 2.8rem;
    }

    .dessert-title2 {
        font-size: 2rem;
        margin-top: -30px;
    }

    .orders {
        margin-top: 100px;
    }
}

@media all and (max-width: 400px) {

    .black-background-dessert {
        height: 90px;
        width: 240px;
    }

    .red-circle-dessert {
        height: 80px;
        width: 230px;
    }

    .dessert-title {
        font-size: 2rem;
        margin-left: 30px;
        margin-top: 15px;
    }

    .dessert-title2 {
        font-size: 1.3rem;
        margin-top: -20px;
        margin-left: 90px;
    }

    .orders {
        margin-top: 150px;
    }

    li {
        font-size: 14px;
        margin-left: 0px;
    }

    #dessertcart {
        padding-left: 10px;
    }

    .del {
        right: 15px;
    }

    .item-title {
        margin-bottom: 10px;
    }

    .item-description {
        margin-top: 10px;
    }
}