/* Login page */

.error-message {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-buttons a {
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
}