/* Meal page css*/

.black-background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 130px;
    width: 500px;
    border-radius: 50%;
    margin-bottom: 50px;
}

.red-circle-meal {
    height: 120px;
    width: 490px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(228, 3, 3);
    border-radius: 50%;
}

.title {
    margin-left: 80px;
    padding-top: 0px;
    margin-top: 10px;
    font-family: 'Beau Rivage', cursive;
    font-size: 5rem;
    font-weight: 500;
    color: rgb(228, 3, 3);
}

.title2 {
    text-align: center;
    font-family: 'Beau Rivage', cursive;
    font-weight: 500;
    color: rgb(1, 207, 207);
    font-size: 3rem;
    margin-top: -50px;
    margin-left: 140px;
}

.meal-orders {
    position: relative;
    height: 80rem;
    margin-left: 20px;
    padding: 0px;
}

.meal-slate-cart {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://res.cloudinary.com/dnczeth0j/image/upload/v1651081192/static/images/slate-background_nfxmpb.jpg");
    background-repeat: no-repeat;
    height: 75rem;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.meal-menu-background {
    background: linear-gradient(rgba(51, 51, 51, 0.9), rgba(0, 0, 0, 0.9));
    height: 100%;
    width: 40%;
    border-radius: 10px;
    padding-bottom: 50px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 100px;
}

.item-title {
    margin-top: 50px;
    margin-right: 20px;
}

.meal-images {
    position: relative;
    width: 300px;
    height: 200px;
    border-radius: 50%;
}

.item-description {
    margin-top: 50px;
    font-family: 'Red Hat Display', sans-serif;
    color: rgb(1, 207, 207);
    font-size: 1rem;
    margin-left: 30px;
    margin-right: 40px;
    padding: 20px;
}

.price {
    color: rgb(86, 196, 36);
    background-color: black;
    width: 100px;
    border-radius: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.order-list {
    font-family: 'Beau Rivage', cursive;
    color: rgb(228, 3, 3);
    font-size: 3rem;
}

#mealtotal {
    font-family: 'Beau Rivage', cursive;
    color: rgb(1, 207, 207);
    font-size: 2rem;
}

.sign-buttons {
    justify-content: center;
    margin: 20px;
}

.btn-info {
    background-color: rgb(16, 94, 94);
}

#mealcart {
    position: relative;
    text-align: left;
    font-family: 'Beau Rivage', cursive;
    color: rgb(1, 207, 207);
    font-size: 1.3rem;
    line-height: 40px;
    background: linear-gradient(rgba(51, 51, 51, 0.7), rgba(0, 0, 0, 0.7));
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(228, 3, 3);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 40px;
}

h3 {
    font-family: 'Beau Rivage', cursive;
    font-size: 3rem;
    color: rgb(228, 3, 3);
}

@media all and (max-width: 1500px) {

    .meal-menu-background {
        margin-right: 20px;
    }

    .meal-images {
        width: 250px;
        height: 150px;
    }

    .item-title {
        font-size: 2.5rem;
        padding-left: 20px;
        padding-right: 40px;
    }

    #mealcart {
        padding-left: 10px;
    }
}

@media all and (max-width: 1000px) {

    .meal-menu-background {
        margin-left: 20px;
        margin-right: 20px;

    }

    .meal-images {
        width: 150px;
        height: 100px;
    }

    .meal-orders {
        margin-left: 0px;
        margin-right: 0px;
    }

    li {
        font-size: 14px;
    }

    #mealcart {
        padding: 20px;
    }
}

@media all and (max-width: 850px) {

    .meal-images {
        width: 150px;
        height: 100px;
    }

    .black-background {
        height: 130px;
        width: 350px;
    }

    .red-circle-meal {
        height: 120px;
        width: 340px;
    }

    .title {
        padding-top: 10px;
        font-size: 4rem;
        margin-left: 30px;
    }

    .title2 {
        font-size: 2.5rem;
        margin-top: -40px;
    }

    .item-title {

        font-size: 2.5rem;
        margin-top: 80px;
    }
}

@media all and (max-width: 766px) {

    .black-background {
        height: 130px;
        width: 360px;
    }

    .red-circle-meal {
        height: 120px;
        width: 350px;
    }

    .title {
        margin-left: 60px;
    }

    .meal-menu-background {
        width: 100%;
    }

    .footer {

        width: 100%;
    }
}

@media all and (max-width: 580px) {

    .black-background {
        height: 100px;
        width: 300px;
    }

    .red-circle-meal {
        height: 90px;
        width: 290px;
    }

    .title {
        font-size: 3rem;
        margin-top: 0px;
        margin-left: 40px;
    }

    .title2 {
        font-size: 2rem;
        margin-top: -30px;
        margin-left: 90px;
    }
}

@media all and (max-width: 400px) {

    .black-background {
        width: 230px;
        height: 90px;
        margin-left: -10px;
    }

    .red-circle-meal {
        height: 80px;
        width: 220px;
    }

    .title {
        font-size: 2.5rem;
        margin-left: 30px;
    }

    .title2 {
        font-size: 1.8rem;
        margin-top: -25px;
        margin-left: 80px;
    }
}