/* Home page css*/
body {
    background-color: black;
}

@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Lobster&family=Playfair+Display:ital@1&family=Red+Hat+Display:wght@300&family=Square+Peg&family=Tapestry&family=Updock&display=swap');

#overlay-home {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url("https://res.cloudinary.com/dnczeth0j/image/upload/v1651002232/static/media/images/uris-kitchen-home_mc2gvh.jpg");
    background-size: cover;
    z-index: -1;
}

.navbar {
    background-color: black;
    margin-bottom: 100px;
}

.navbar-toggler-icon {
    color: transparent;
}

.container {
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    margin: 0px;
}

.slate-container {
    display: flex;
    justify-content: center;
}

.home-slate-background {
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://res.cloudinary.com/dnczeth0j/image/upload/v1651081192/static/images/slate-background_nfxmpb.jpg");
    background-repeat: no-repeat;
    height: 55rem;
    width: 50rem;
    margin-top: 100px;
    overflow: hidden;
    border-radius: 10px;
}

.slate-container h3 {
    font-family: 'Beau Rivage', cursive;
    font-size: 4rem;
    font-weight: 500;
    color: rgb(228, 3, 3);
    position: absolute;
    margin-top: 20px;
}

.slate-container h4 {
    font-family: 'Beau Rivage', cursive;
    color: rgb(1, 207, 207);
    font-size: 2.5rem;
    position: absolute;
    margin-top: 90px;
}

.home-black-background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 200px;
    width: 650px;
    border-radius: 50%;
    margin-left: 100px;
}

.red-circle-home {
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(228, 3, 3);
    border-radius: 50%;
    height: 190px;
    width: 640px;
}

.home-page h1 {
    font-family: 'Beau Rivage', cursive;
    font-size: 5rem;
    font-weight: 500;
    color: rgb(228, 3, 3);
    margin-left: 50px;
    padding-top: 40px;
}

.home-page h2 {
    font-family: 'Beau Rivage', cursive;
    margin-top: -45px;
    margin-left: 240px;
    color: rgb(1, 207, 207);
    font-size: 3rem;
}

.call-background {
    position: relative;
    top: 50px;
    left: 100px;
    width: 300px;
    height: 210px;
    padding: 20px;
    border-radius: 10px;
    background-color: black;
}

.call {
    font-family: 'Beau Rivage', cursive;
    color: rgb(228, 3, 3);
    font-size: 3rem;
}

.phone {
    font-family: 'Beau Rivage', cursive;
    color: rgb(1, 207, 207);
    font-size: 2rem;
}

.instruction-blue {
    font-family: 'Red Hat Display', sans-serif;
    color: rgb(1, 207, 207);
    background: linear-gradient(rgba(51, 51, 51, 0.6), rgba(0, 0, 0, 0.6));
    padding: 2%;
    padding-bottom: 100px;
    font-size: 2rem;
    position: absolute;
    margin-top: 190px;
    margin-right: 20px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(228, 3, 3);
}

.enjoy {
    margin-top: 600px;
    margin-left: 200px;
}

/* Footer styling */

.footer {
    width: 100%;
    margin-top: 335px;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
}

.copyright {
    color: rgb(0, 0, 0);
    background-color: rgba(131, 131, 131, 0.9);
    text-align: center;
    padding: 10px;
    margin: 0;
    font-size: 1.5rem;
    z-index: 100;
}

b {
    color: rgb(160, 5, 5);
}

@media all and (max-width: 1000px) {

    /* nav */

    .nav-link {
        font-size: 19px;
    }

    .home-black-background {
        height: 170px;
        width: 560px;
        margin-left: 100px;
    }

    .red-circle-home {
        height: 160px;
        width: 550px;
    }

    .home-page h1 {
        font-size: 4rem;
    }

    .home-page h2 {
        margin-left: 150px;
    }

    .slate-background {
        height: 45rem;
        width: 70%;
        margin-left: 0px;
    }

    .slate-container h3 {
        font-size: 3rem;
    }

    .slate-container h4 {
        font-size: 2rem;
    }

    .slate-container h5 {
        margin-top: 250px;
    }

    .instruction-blue {
        font-size: 1.5rem;
        margin-top: 190px;
        margin-left: 50px;
        width: 60%;
    }

    .enjoy {
        font-size: 2rem;
        margin-top: 510px;
        margin-left: 200px;
    }
}

@media all and (max-width: 850px) {

    .enjoy h3 {
        margin-top: 20px;
        margin-left: 10px;
    }
}

@media all and (max-width: 766px) {

    .home-black-background {
        height: 150px;
        width: 480px;
        margin-left: 100px;
    }

    .red-circle-home {
        height: 140px;
        width: 470px;
    }

    .home-page h1 {
        font-size: 3.5rem;
        margin-left: 30px;
        margin-top: -10px;
    }

    .home-page h2 {
        margin-top: -35px;
        font-size: 1.8rem;
    }

    .call {
        font-size: xx-large;
        width: 300px;
    }

    .phone {
        font-size: 1.5rem;
    }

    .slate-background {
        height: 800px;
        width: 600px;
    }

    .instruction-blue {
        font-size: 1.3rem;
        margin-top: 140px;
        margin-left: 10px;
        padding-right: 30px;
        line-height: 30px;
        width: 75%;
    }

    .enjoy h3 {
        margin-top: -80px;
        margin-left: 0px;
        font-size: 40px;
    }
}

@media all and (max-width: 580px) {

    .home-black-background {
        height: 130px;
        width: 380px;
        margin-top: -10px;
        margin-bottom: 100px;
        margin-left: 10px;
    }

    .red-circle-home {
        height: 120px;
        width: 370px;
    }

    .home-page h1 {
        font-size: 2.6rem;
        margin-left: 30px;
        padding-top: 40px;
    }

    .home-page h2 {
        margin-top: -30px;
        font-size: 1.8rem;
        margin-left: 110px;
    }

    .call-background {
        top: -50px;
        left: 100px;
        height: 160px;
        width: 250px;
    }

    .home-slate-background {
        margin-top: 0px;
    }

    .instruction-blue {
        font-size: 1.2rem;
        margin-top: 140px;
        margin-left: 20px;
        padding-right: 20px;
        padding-bottom: 150px;
        width: 90%;
    }

    .slate-container h3 {
        margin-top: 10px;
        font-size: 40px;
    }

    .slate-container h4 {
        margin-top: 60px;
    }

    .enjoy h3 {
        margin-top: -80px;
        margin-left: -20px;
    }
}

@media all and (max-width: 400px) {

    .home-black-background {
        height: 120px;
        width: 100%;
        margin-top: -50px;
        margin-bottom: 100px;
        margin-left: 0px;
    }

    .red-circle-home {
        height: 110px;
        width: 98%;
    }

    .home-page h1 {
        font-size: 2.3rem;
        margin-left: 30px;
    }

    .home-page h2 {
        font-size: 1.6rem;
        margin-left: 60px;
    }

    .call-background {
        left: 20px;
        width: 270px;
        height: 210px;
    }

    .call {
        width: 250px;
    }

    .phone {
        font-size: 1.5rem;
    }

    .slate-background {
        height: 50rem;
        border-radius: 0px;
        margin-top: 50px;
    }

    .instruction-blue {
        width: 90%;
        margin-top: 200px;
        padding-right: 10px;
        font-size: 1rem;
        padding-bottom: 150px;
    }

    .enjoy h3 {
        position: relative;
        margin-top: 100px;
        margin-left: -40px;
    }

    /* Footer */

    .footer {
        margin-top: 400px;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 20px;
    }

    .copyright {
        padding: 10px;
        font-size: .7rem;
    }
}

@media all and (max-width: 328px) {

    .enjoy h3 {
        margin-top: 120px;
        margin-left: -60px;
    }
}