body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: black;
    width: 100%;
    margin: 0px;
}

.home {
    position: relative;
    padding: 0px;
    justify-content: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center, center;
    background-repeat: no-repeat;
    z-index: -1;
}

.color-overlay {
    width: 100%;
    height: 100%;
    background: black;
    opacity: .7;
    position: absolute;
}

h1 {
    font-family: 'Beau Rivage', cursive;
    position: absolute;
    top: 60px;
    left: 10px;
    padding-top: 2rem;
    padding-left: 5rem;
    font-size: 5rem;
    font-weight: 500;
    color: rgb(185, 14, 14);
    z-index: 10;
}

h2 {
    font-family: 'Beau Rivage', cursive;
    position: absolute;
    top: 170px;
    left: 130px;
    color: rgb(1, 209, 209);
    font-size: 3rem;
}