body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.row {
    margin: 0px;
}

.navbar {
    background-color: black;
}

.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .7;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

.home-background {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -10;
}

.slate-background {
    margin-top: 200px;
    height: 35rem;
    width: 45rem;
    overflow: hidden;
    border-radius: 5px;
}

.slate-container {
    margin-top: 8rem;

    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
}


.slate-container h3 {
    font-family: 'Beau Rivage', cursive;
    font-size: 5rem;
    font-weight: 500;
    color: rgb(185, 14, 14);
    position: absolute;
    margin-top: 200px;

}

.slate-container h4 {
    font-family: 'Beau Rivage', cursive;
    color: rgb(0, 145, 145);
    font-size: 3rem;
    position: absolute;
    margin-top: 300px;
}

h1 {
    font-family: 'Beau Rivage', cursive;
    font-size: 5rem;
    font-weight: 500;
    color: rgb(185, 14, 14);
    position: absolute;
    left: 10px;
}

h2 {
    font-family: 'Beau Rivage', cursive;
    position: absolute;
    top: 80px;
    right: 600px;
    color: rgb(0, 145, 145);
    font-size: 3rem;
}